@import "~materialize-css/dist/css/materialize.min.css";

.input-field input:focus + label {
    color: dodgerblue !important;
}

.row .input-field input:focus {
    border-bottom: 1px solid dodgerblue !important;
    box-shadow: 0 1px 0 0 dodgerblue !important
}
